/*!
- - - - - - - - - - - - - - - - - - - - - - -
KANUTI GILDI SAAL

Front-end: Ranno Ait
Back-end: Mihkel Putrints
- - - - - - - - - - - - - - - - - - - - - - -
*/

/**	- - - - - - - - - - - - - - - - - - - - */

@import "bootstrap";

/**	- - - - - - - - - - - - - - - - - - - - */

$primary-color: #0A2A6B;


/**	MAIN
***	- - - - - - - - - - - - - - - - - - - - */

body {
	color: #000;
	padding-top: 63px;
	-webkit-font-smoothing: subpixel-antialiased;

	@media (min-width: $screen-md) {
		padding-top: 91px;
	}

	@media (min-width: $screen-lg) {
		padding-top: 104px;
	}
}

.page-margin {
	margin: 3em 0;

	@media (min-width: $screen-tablet) {
		margin: 3em;
	}
}

/**	- - - - - - - - - - - - - - - - - - - - */


/**	FONTS
***	- - - - - - - - - - - - - - - - - - - - */

@font-face {
    font-family: 'flyerblack';
    src: url('../fonts/flyer/flyer-black-webfont.eot');
    src: url('../fonts/flyer/flyer-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/flyer/flyer-black-webfont.woff2') format('woff2'),
         url('../fonts/flyer/flyer-black-webfont.woff') format('woff'),
         url('../fonts/flyer/flyer-black-webfont.ttf') format('truetype'),
         url('../fonts/flyer/flyer-black-webfont.svg#flyerblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/fonts/icomoon.eot?-bsudmf');
	src:url('../fonts/icomoon/fonts/icomoon.eot?#iefix-bsudmf') format('embedded-opentype'),
		url('../fonts/icomoon/fonts/icomoon.woff?-bsudmf') format('woff'),
		url('../fonts/icomoon/fonts/icomoon.ttf?-bsudmf') format('truetype'),
		url('../fonts/icomoon/fonts/icomoon.svg?-bsudmf#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-checkmark2:before {
	content: "\ea11";
}

.icon-mail4:before {
	content: "\ea86";
}

.icon-facebook3:before {
	content: "\ea8e";
}

.icon-instagram:before {
	content: "\ea90";
}

.icon-twitter3:before {
	content: "\ea93";
}

.icon-youtube:before {
	content: "\ea97";
}

.icon-vimeo3:before {
	content: "\ea9e";
}

/**	- - - - - - - - - - - - - - - - - - - - */

/**	ARROWS
***	- - - - - - - - - - - - - - - - - - - - */

.arrow-left {
	content: url(../images/arrow-left.svg);
}
.arrow-right {
	content: url(../images/arrow-right.svg);
}

/**	- - - - - - - - - - - - - - - - - - - - */


/**	TYPOGRAPHY
***	- - - - - - - - - - - - - - - - - - - - */

p,
h1,.h1,
h2,.h2,
h3,.h3 {
	font-weight: normal;
	margin: 0;
}

h2,
.season,
.select-cat,
.volunteer a {
	font-family: flyerblack, sans-serif;
	text-transform: uppercase;
}

h2 {
	margin-bottom: .5em;
}

p {
	font-size: 1em;
	line-height: 1.3em;
}

h3, .h3 {
	line-height: 1.3em;

	font-size: 1.2em;

	@media (min-width: $screen-tablet) {
		font-size: 1.6em;
	}
}

.season {
	font-size: .75em;
	margin-top: .4em;
}

hr {
	border: 0;
	height: 2px;
	background-color: #000;
	margin: 1.4em 0;
}

/**	- - - - - - - - - - - - - - - - - - - - */


/**	LINKS
***	- - - - - - - - - - - - - - - - - - - - */

a {
	color: #000;

	&:hover {
		color: $primary-color;
		text-decoration: none;
	}
}

.active a {
	border-bottom: 1px solid;
}

a.logo {
	&:hover {
		color: #000;
	}
}

/**	- - - - - - - - - - - - - - - - - - - - */


/**	NAVBAR
***	- - - - - - - - - - - - - - - - - - - - */

.navbar-default {
	background-color: white;
	box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.35);
	padding: 1em 0;

	.social {
		@extend h4;
		margin: 0;

		a {
			color: $primary-color;
		}
	}
}

#navbar {
	margin-top: 1em;
	padding-top: 1em;

	@media (min-width: $screen-desktop) {
		padding-top: 0;
		margin-top: 0;
	}

	ul {

		li {
			margin-bottom: 1em;

			@media (min-width: $screen-desktop) {
				margin-bottom: 0;
			}
		}
	}
}

/**	- - - - - - - - - - - - - - - - - - - - */

/**	DATEPICKER
***	- - - - - - - - - - - - - - - - - - - - */

// #datepicker-container {
// 	background-color: white;
// 	padding: 2em;
// 	cursor: move;
// 	position: absolute;
// 	top: 10em;
// 	right: 3em;
// 	width: 400px;
// 	height: 260px;
// 	z-index: 9000;
// 	@include box-shadow(5px 2px 10px rgba(255, 0, 0, 0.8));

// 	#datepicker {
// 		z-index: 10000;
// 	}
// }


#datepicker {
	width: auto;
	//margin-top: 1em;
	@extend .table-responsive;
}

.ui-datepicker-calendar {
	width: auto;
	@extend .table;
	//@extend .table-bordered;
	@extend .text-center;

	thead th {
		@extend .text-center;
	}
}

// .ui-datepicker-prev {
// 	@extend .col-md-4;
// 	@extend .arrow-left;
// 	height: 1.7em;
// }

// .ui-datepicker-next {
// 	@extend .col-md-4;
// 	@extend .col-md-push-4;
// 	@extend .pull-right;
// 	@extend .text-right;
// 	@extend .arrow-right;
// 	height: 1.7em;
// }

.ui-datepicker-title {
	@extend .h3;
	@extend .text-center;
	@extend .text-uppercase;
	//margin-top: -1.5em;
	//@extend .col-md-4;
	//@extend .col-md-pull-5;
}

.ui-datepicker-header {
	//@extend .row;
}

.badge {
	//margin-top: -20px;
	background-color: red;
}



// .ui-state-default {
// 	padding-top: 11px;
// 	background: none;
// 	border: none;
// 	font-size: 16px;
// 	text-align: center;
// 	line-height: 40px;
// 	width: 40px;
// 	height: 40px;
// 	margin: 0 auto;
// 	margin-bottom: 5px;
// 	padding: 0;
// 	border-radius: 50%;
// 	position: relative;
// }

// #event-calendar .highlight.in-campo .ui-state-default {
//   background-color: #f30 !important;
//   color: #221f1f !important;
//   border-top-color: #221f1f !important;
// }

.highlight a {
	@extend .badge;
}

.ui-datepicker-prev {
	float: left;
}

.ui-datepicker-next {
	float: right;
}

.ui-datepicker-prev,
.ui-datepicker-next {
	cursor: pointer;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
	display: none;

}

.ui-datepicker-prev:before {
	content: url(../images/cal-arrow-left.svg);

}

.ui-datepicker-next:before {
	content: url(../images/cal-arrow-right.svg);
}

/**	- - - - - - - - - - - - - - - - - - - - */


/**	CAROUSEL
***	- - - - - - - - - - - - - - - - - - - - */

#front-carousel {
	color: white;

	figure {
		background-size: cover;
		-moz-background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		// filter: grayscale(100%);
		// -webkit-filter: grayscale(100%);
	}
}

#about-carousel {
	margin-bottom: 1.5em;
}

.event-banner {

	svg {
		display: none;
	}

	header {
		position: absolute;
		top: 2em;
		left: 1em;
		color: white;

		p,
		h1 {
			font-family: flyerblack, sans-serif;
		}

		p {
			line-height: .9em;
		}

		h1,
		h2 {
			line-height: .9em;
			padding-top: .2em;
		}
		@media (min-width: $screen-tablet) {
			p {
				font-size: 2em;
			}

			h1,
			h2 {
				font-size: 5em;
				letter-spacing: -2px;
				line-height: .8em;
			}
		}
	}

	// .event-cats {
	// 	color: white;
	// 	position: absolute;
	// 	width: 100%;
	// 	bottom: 1.3em;

	// 	@media (max-width: $screen-phone) {

	// 		.h3 {
	// 			font-size: .8em;
	// 		}
	// 	}

	// 	.unactive span {
	// 		background-color: white;
	// 	}
	// }

	.event-categories {
		color: white;
	    margin: 0 0 0 16px;
	    padding: 0;
	    list-style-type: none;
	    position: absolute;
	    bottom: 1.3em;

	    li {
	        text-align: left;

	        &.unactive span {
	        	background-color: white;
	        }
	    }

	    .h3 {
	    	font-size: 1.5em;
	    }
	}

	@media (min-width: $screen-desktop) {
		.event-categories {
			margin: 0;
		    display: table;
		    table-layout: fixed;
		    width: 100%;



			li {
			    display: table-cell;
			    text-align: center;

			    &.unactive span {
			    	background-color: white;
			    }
			}
		}
	}
}

/**	- - - - - - - - - - - - - - - - - - - - */

/**	PROGRAMME CHECKBOXES
***	- - - - - - - - - - - - - - - - - - - - */

.select-drop {
	margin-bottom: 2em;
}

.select-cat {
	margin-bottom: 2em;

	@media (min-width: $screen-desktop) {
		margin-bottom: 0;
	}

	.active {
		color: $primary-color;
		@include box-shadow(0px 0px 0px transparent);

		.icon-checkmark2:before {
			content: "\ea10";
		}
	}

	label {
		@extend h3;
		padding: 0 .5em 0 0;

		@media (min-width: $screen-desktop) {

			padding: 0 .5em 0 .5em;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}

			&:hover {
				color: $primary-color;
			}

			&:active {
				@include box-shadow(0px 0px 0px transparent);
			}
		}
	}
}

/**	- - - - - - - - - - - - - - - - - - - - */


/** BUTTONS
***	- - - - - - - - - - - - - - - - - - - - */

.btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
  	color: $primary-color;
  	background-color: transparent;
  }

  &:focus {
  	color: #fff;
  	background-color: $primary-color;
  	border-color: $primary-color;
  }

  &.disabled {
  	background-color: gray;
  	border-color: gray;
  }
}

.open>.btn-default.dropdown-toggle {
	background-color: $primary-color;
	border-color: $primary-color;
	color: #fff;
}

.btn-default {
	color: $primary-color;
	background-color: transparent;
	border-color: $primary-color;

	&:hover {
		background-color: $primary-color;
		border-color: $primary-color;
		color: #fff;
	}
}

/**	- - - - - - - - - - - - - - - - - - - - */


/**	LAYOUT
***	- - - - - - - - - - - - - - - - - - - - */

.logo img {
	max-width: 12%;

	@media (min-width: $screen-tablet) {
		max-width: 100%;
	}
}

.supporter img {
	margin-bottom: 1em;
}

.news,
.residents,
.floorplans {
	margin-top: 3em;
}

.news {
	@media (min-width: $screen-md) {
		margin-top: 0 !important;
	}
}


.tour,
.programme {
	margin-bottom: 5em;

	&:last-child {
		margin-bottom: 0;
	}

	h3 {
		margin: 1em 0;

		@media (min-width: $screen-desktop) {
			margin: 0;
		}
	}
}

.newsletter {
	margin-top: 2em;
}

.main-text {
	margin-top: 2em;

	@media (min-width: $screen-desktop) {
		margin-top: 0;
	}
}

.banner {
	margin-top: 5em;
	@media (min-width: $screen-desktop) {
		margin-top: 0;
	}
}

.volunteer a {
	display: block;
	padding: 2em 1em;
	margin: 0 !important;
	background-color: $primary-color;
	color: white;

	&:hover {
		border: 2px solid $primary-color;
		background-color: white;
		color: $primary-color;
	}
}


.banner,
.video-sound {
	div {
		margin-bottom: 2em;
	}
}

.video-sound {
	margin-top: 5em;
	@media (min-width: $screen-desktop) {
		margin-top: 0;
	}
}

.load-more,
.morelink {
	margin-top: 1em;
}

.panel-group .panel {
	border-radius: 0;
	-moz-border-radius: 0;
}

.panel-group .panel + .panel {
	margin-top: 0 !important;
	//padding-bottom: 1em;
}

.panel {
	border: 0;
	@include box-shadow(inherit);
	padding-top: .5em;
	padding-bottom: .5em;
	border-bottom: 2px solid;

	.panel-body {
		border-bottom: 0;
	}

	.panel-collapse {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	h3 {
		a {
			&:focus {
				text-decoration: none;
				color: $primary-color;
			}
		}
	}
}

.press,
.past,
.upcoming,
.gallery {
	margin-top: 4em;

	h3 {
		margin: 1em 0;

		@media (min-width: $screen-desktop) {
			margin: 0;
		}
	}
}

.single-image {
	margin-bottom: 2em;
}

footer {
	color: white;
	padding: 2em 0;
	//border-top: 2px solid $primary-color;
	background-color: $primary-color;
}

/**	- - - - - - - - - - - - - - - - - - - - */