extends layout

block vars

block content

    .container-fluid
        .row.page-margin
            section.col-xs-12.col-md-12.col-lg-9

                .about.row
                    .col-xs-12.col-md-12.col-lg-12
                        h2= t('nav.about')


            aside.col-xs-12.col-md-12.col-lg-3
                .row
                    .hidden-xs.col-sm-4.col-md-4(id='datepicker')

                    .col-xs-12.col-sm-4.col-md-4.col-lg-12.voulenteer
                        a.text-center.h3(href='mailto:vabatahtlik@saal.ee')= t('button.voulenteer')

                    .col-xs-12.col-sm-4.col-md-4.col-lg-12(id='mailchimp-sign-up')
                        form.validate(action='http://paranoia.us8.list-manage.com/subscribe/post?u=1e1d48fe600fda5c3f6a39b75&amp;id=fdc080b2d5' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' target='_blank' novalidate)
                        .mc-field-group
                            input.required.email(type='text' value='' name='EMAIL' placeholder='Liitu uudiskirjaga' id='mce-EMAIL')
                        .clear(id='mce-responses')
                            .response(id='mce-error-response' style='display:none')
                            .response(id='mce-success-response' style='display:none')
                        div(style='position: absolute; left: -5000px;')
                            input(type='text' name='b_1e1d48fe600fda5c3f6a39b75_fdc080b2d5' tabindex='-1' value='')
                        .clear
                            input.button(type='submit' value='OK!' name='subscribe' id='mc-embedded-subscribe')