extends layout

block vars

block content

  .container-fluid
    .row.page-margin

      section.col-md-12
        .programme.row
          .col-xs-12.col-md-12
            h2= t('nav.coproductions')
            
          a.col-md-2.col-lg-2
            img.img-responsive(src="http://www.placehold.it/400x400")
            p Kunstniku nimi
            p Lavastuse nimi
          a.col-md-2.col-lg-2
            img.img-responsive(src="http://www.placehold.it/400x400")
            p Kunstniku nimi
            p Lavastuse nimi
          a.col-md-2.col-lg-2
            img.img-responsive(src="http://www.placehold.it/400x400")
            p Kunstniku nimi
            p Lavastuse nimi
          a.col-md-2.col-lg-2
            img.img-responsive(src="http://www.placehold.it/400x400")
            p Kunstniku nimi
            p Lavastuse nimi
