extends layout

block content
	h1= title

	img(src='https://saal.entu.ee' + image)
	
	p= content
	p= price

	ul
		each date in schedule
			li= moment(date.value).format("YYYY/MM/DD")
			
				li
					button Väljamüüdud


	//- if categories
	//- 	ul
	//- 		each category in categories
	//- 			li= category.value

	ul
		li Diskussioon
		li Film
		li Loeng
		li Muusika
		li Performance
		li Tants
		li Teater
		li Tsirkus
		li Video

