extends layout

block content
	h1= title

	img(src='https://saal.entu.ee' + image)
	
	p= content
	p= price

	ul
		each date in schedule
			li= moment(date.value).format("dddd DD.MM.YYYY HH:mm")

				li
					button Väljamüüdud


	//- if categories
	//- 	ul
	//- 		each category in categories
	//- 			li= category.value

	- categoryNames = categories.map(function(c){return c.value});

	ul
		li(class=(categoryNames.indexOf("Diskussioon") > -1 ? "" : "unactive")) Diskussioon
		li(class=(categoryNames.indexOf("Film") > -1 ? "" : "unactive")) Film
		li(class=(categoryNames.indexOf("Loeng") > -1 ? "" : "unactive")) Loeng
		li(class=(categoryNames.indexOf("Muusika") > -1 ? "" : "unactive")) Muusika
		li(class=(categoryNames.indexOf("Tants") > -1 ? "" : "unactive")) Tants
		li(class=(categoryNames.indexOf("Teater") > -1 ? "" : "unactive")) Teater
		li(class=(categoryNames.indexOf("Tsirkus") > -1 ? "" : "unactive")) Tsirkus
		li(class=(categoryNames.indexOf("Video") > -1 ? "" : "unactive")) Video	

