extends layout

block content
    h1= event.displayname
    img(src='https://saal.entu.ee' + event.displaypicture)
    p= event.properties.description.values[0].value
    p= event.displayinfo

    ul
        each category in event.properties.category.values
            li= category.value
