extends layout

block vars

block content

  .container-fluid
    .row
      .event-banner.carousel.slide(id='front-carousel')
        .carousel-inner(role='listbox')
        - if (op.get(festival, [lang + '-name']).match(/NUP/))
          figure(style="background-image: url('/images/NUP_www_kodulehe_pais_1900x1400px_01.png');")
        - else
          figure(style="background-image: url('https://saal.entu.ee/api2/file-2999');")

    .row.page-margin
      section.col-md-12
        h2= op.get(festival, [lang + '-name'])
        p!= op.get(festival, ['performance', lang + '-technical-information'])
