extends layout

block vars

block content

  .container-fluid
    .row
      .event-banner.carousel.slide(id='front-carousel')
        .carousel-inner(role='listbox')
        - if (op.get(festival, [lang + '-name']).match(/NUP/)
          figure(style="background-image: url('/images/NUP_www_kodulehe_pais_1900x1400px_01.png');")
        - else
          figure(style="background-image: url('/images/saalbiennaal2017visuaal.jpg');")

    .row.page-margin
      section.col-md-12
        h2= op.get(festival, [lang + '-name'])
        h4= op.get(festival, [lang + '-subtitle'])
        p!= op.get(festival, [lang + '-description']) 
