extends layout

block vars

block content

  .container-fluid
    .row
      .event-banner.carousel.slide(id='front-carousel')
        .carousel-inner(role='listbox')
          figure(style="background-image: url('" + op.get(festival, ['photo', 'file']) + "');")

    .row.page-margin
      section.col-md-12
        h2= op.get(festival, [lang + '-name'])
        p!= op.get(festival, [lang + '-technical-information'])
