extends layout

block content

	ul
		each event in events
			li
				a(href='localhost:3000/event/' + event.id) #{event.name}


	ul
		each banner in banners
			li
				a(href='localhost:3000/event/' + banner.id)
					img(src='http://placehold.it/300x300')