extends layout

block vars

block content

	.container-fluid
		.row.page-margin

			.programme
				.col-xs-12.col-md-12
					h2= t('title.news')
				
					.projects-group.panel-group(id='accordion' role='tablist' multiselectable='true')
					
						- var indexCollapse = 0
						- var indexIn = 0
						each bulletin, datestring in news
                            each p in bulletin
    							.panel
    								div(role="tab" id="heading-"+op.get(p, 'id')+"")
    									h3
    										a(class=(++indexCollapse === 1 ? '' : 'collapsed') data-toggle="collapse" data-parent="#accordion" href="#collapse-"+op.get(p, 'id')+"" aria-expanded="true" aria-controls="collapse-"+op.get(p, 'id')+"")= op.get(p, lang + '-name')
    											
    								.panel-collapse.collapse(class=(++indexIn === 1 ? 'in' : ' ') id="collapse-"+op.get(p, 'id')+"" role="tabpanel" aria-labelledby="heading-"+op.get(p, 'id')+"")
    									div.main-text.h3
    										p!= op.get(p, lang + '-description')
