extends layout

block vars

block content

  .container-fluid
    .row.page-margin

      section.col-md-12
        .programme.row
          .col-xs-12.col-md-12
            h2 Nu Performance festival siia
