extends layout

block vars

block content

	.container-fluid
		.row.page-margin

			.programme
				.col-xs-12.col-md-12
					h2= t('nav.projects')
				
					.projects-group.panel-group(id='accordion' role='tablist' multiselectable='true')
					
						- var indexCollapse = 0
						- var indexIn = 0
						each project in projects
							.panel
								div(role="tab" id="heading-"+op.get(project, 'id')+"")
									h3
										a(class=(++indexCollapse === 1 ? '' : 'collapsed') data-toggle="collapse" data-parent="#accordion" href="#collapse-"+op.get(project, 'id')+"" aria-expanded="true" aria-controls="collapse-"+op.get(project, 'id')+"")= op.get(project, lang + '-name')
											
								.panel-collapse.collapse(class=(++indexIn === 1 ? 'in' : ' ') id="collapse-"+op.get(project, 'id')+"" role="tabpanel" aria-labelledby="heading-"+op.get(project, 'id')+"")
									div.main-text.h3
										p!= op.get(project, lang + '-description')
