extends layout

block vars

block content

	.container-fluid
		.row.page-margin

			.programme.row
				.col-xs-12.col-md-12
				    h2= t('nav.projects')

				.col-xs-12.col-md-2
				    p laupäev
				    p 24.01.2015
				    p 19:30

				.col-xs-12.col-md-10
				    h3
				        a(href='#') Samara

				.col-xs-12.col-md-12
				    hr