extends layout

block vars

block content

    .container-fluid
        .row.page-margin
            each location in residencies
                section.col-md-6
                    .programme.row
                        .col-xs-12.col-md-12
                            h2= op.get(location, [lang + '-name'])
                        each eventdate, datestring in location.events
                            each event in eventdate

                                a.col-xs-12.col-md-4.resident(href='/' + lang + '/resident/' + op.get(event,'id'))
                                    img.img-responsive(src=''+ op.get(event, 'photo.file') +'')
                                    p= (moment(datestring).locale('et').format('L')) + "—"
                                    p= op.get(event, lang + '-name')
