extends layout

block vars

block content

    .container-fluid
        .row.page-margin
            each location in residencies
                section.col-xs-12.col-sm-6.col-md-4.col-lg-4
                    .programme.row
                        .col-12
                            h2= op.get(location, [lang + '-name'])
                        each eventdate, datestring in location.events
                            each event in eventdate
                                a.col-xs-12.col-sm-12.col-md-12.col-lg-6.resident(href='/' + lang + '/resident/' + op.get(event,'id'))
                                    img.img-responsive(src=''+ op.get(event, 'photo.file') +'')
                                    p= (moment(op.get(event,['start-time',0])).locale('et').format('L')) + "—" + moment(op.get(event,['end-time'])).locale('et').format('L')
                                    p= op.get(event, lang + '-name')
