style.
    /**
    ** SAAL MAGAZINE SCHEME
    */

    pre>code {
        border: black solid;
        padding: 0.5em;
        margin: 0 1em 1em 0;
        float: left;
        width:50%;
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
    
    blockquote p:last-child::first-letter {
        float: left;
        font-size: 300%;
        margin: 0 1em 1em 0;
    }
