style.
    /**
    ** SAAL MAGAZINE SCHEME
    */

    div.article {
        font-size: 1.8em;
    }
    
    .article pre {
        border: black solid;
        padding: 0.5em;
        margin: 0.5em 1em 0 0;
        float: left;
        width: 50%;
        min-width: 9em;
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
    
    blockquote {
        padding: 1em 0;
        margin: 0;
        font-size: 1em;
        border-left: 0;
    }
    
    blockquote p:last-child::first-letter {
        line-height: 1em;
        float: left;
        font-size: 2.6em;
        margin: 0 0.2em -0.1em 0;
    }
