style.
    /**
    ** SAAL FESTIVAL COLOR SCHEME
    */
    
    //- body {
    //-     padding-top: 54px;
    //- }
    
    em > em {
        color: white;
        font-style: normal;
    }
    
    #banner-strip {
        position: fixed;
        bottom: 0;
        left: 0;
        background-image: url('/images/saal-biennaal-banner_strip.svg');
        height: 45px;
        width: 100%;
        z-index: 9999;
    }
    
    .navbar,
    #front-carousel,
    .event-banner .item {
        background-color: #333333;
    }
    
    .navbar-default {
        border-color: transparent;
    }

    a:hover {
        color: #333333;
    }

    .select-cat .active {
        color: #333333;
    }

    .select-cat label:hover {
        color:#333333;
    }

    li.event,
    .highlight.event {
        background-color: rgb(54, 190, 178);
    }

    li.tour,
    .highlight.tour {
        background-color: #28DF24;
    }

    li.tour {
    margin-bottom: 0;
    }

    li.residency,
    .highlight.residency {
        background-color: #333333;
    }

    .navbar-nav > .active > a,
    .legend li.event:before,
    .navbar-default .navbar-nav > li > a {
        color: rgb(54, 190, 178) !important;
    }

    .legend li.residency:before {
        color: #333333;
    }

    .legend li.tour:before {
        color: #28DF24;
    }

    .legend li.event,
    .legend li.tour,
    .legend li.residency {
        background-color: transparent;
    }

    .today {
        color: rgb(54, 190, 178);
    }

    .btn,
    .btn-primary {
        background-color: #333333;
        border-color: #333333;
    }

    .btn:hover,
    .btn-primary:hover {
        color: #333333;
        border-color: #333333;
    }

    .btn:focus,
    .btn-primary:focus {
        background-color: #333333;
        border-color: #333333;
    }

    .open>.btn-default.dropdown-toggle {
        background-color: #333333;
        border-color: #333333;
    }

    .btn-default {
        color: #333333;
        border-color: #333333;
    }

    .btn-default:hover {
        background-color: #333333;
        border-color: #333333;
    }

    .social a {
        color: rgb(54, 190, 178) !important;
    }

    .social a:hover {
        color: #333333;
    }

    .volunteer a {
        background-color: rgb(54, 190, 178);
        color: #333333;
    }

    .volunteer a:hover {
        border: 2px solid #333333;
        color: #333333;
    }

    .panel h3 a:focus,
    .panel .select-cat label a:focus,
    .select-cat .panel label a:focus {
        color: #333333;
    }

    #mailchimp-sign-up input[type="text"] {
        border: 2px solid #333333;
        color: #333333;
    }

    #mailchimp-sign-up input[type="submit"] {
        color: #333333;
    }

    .matched {
        color: red;
    }

    .pager li > a,
    .pager li > span {
        background-color: #333333;
        border: 1px solid #333333;
        color: #fff;
    }

    .pager li > a:hover,
    .pager li > span:hover {
        background-color: #fff;
        border: 1px solid #333333;
        color: #333333;
    }

    footer {
        background-color: #333333;
    }

    .site-search input {
        border: 2px solid #333333;
        color: #333333;
    }

    .site-search button{
        color: #333333;
    }
