extends layout

block vars
    - title='Helpific veebilehe kasutaja- ja privaatsustingimused'

block content
    #tos.container
        .row
            .col-xs-12.text-justify

                ol
                    li
                        p Üldinfo
                        ol

                            li
                                p Käesolevad veebilehe kasutaja- ja privaatsustingimused (edaspidi Tingimused) kohalduvad käesolevale internetileheküljele, selle alamlehekülgedele ja nendega lahutamatult seotud veebirakendustele (edaspidi koos või eraldi nimetatult Veebileht), mis kuuluvad Helpific MTÜ’le (edaspidi Helpific).
                            li
                                p Helpific eesmärgiks on Veebilehe vahendusel läbi viidavate tegevuste ning toimingute kaudu viia omavahel kokku Veebilehe kasutajad, kes vajavad abi (edaspidi Abivajajad) ning kasutajad, kes vabatahtlikkuse alusel abi pakuvad (edaspidi Abistajad), edaspidi eraldi nimetatud Kasutaja ning koos ja ühiselt Kasutajad.
                            li
                                p Veebilehe vahendusel saab Kasutaja luua endale isikliku profiili (edaspidi Kasutajakonto), mille kaudu on Kasutajal õigus osutada vabatahtlikkuse alusel abi, pakkuda teenuseid tasu eest, teha annetusi teistele Kasutajatele ja/või saada teistelt Kasutajatelt tasu osutatud teenuste eest, annetusi või abi vabatahtlikkuse alusel.
                            li
                                p Teenuste osutamise eest saadud tasud ja annetused laekuvad Helpific MTÜ arvelduskontole, kust need kantakse Kasutaja kontole üle viie (5) tööpäeva jooksul. Helpific teenustasu on  määratud hinnakirjaga, mis on kättesaadav Helpifici veebilehel.
                            li
                                p Käesolevaid Tingimusi võib Helpific igal ajal ühepoolselt muuta ning Kasutaja kohustub nendega regulaarselt tutvuma. Kasutaja jätkuv Veebilehe kasutamine loetakse nõusolekuks ka muudetud Tingimustele.
                            li
                                p Veebilehe kasutamisega kinnitab Kasutaja, et on käesolevate Tingimustega tutvunud, neist aru saanud ning aktsepteerib neid täielikult. Tingimustes sätestamata küsimustes juhindub Kasutaja Eesti Vabariigis kehtivatest õigusaktidest ja/või rahvusvahelise tava kui õigusnormina tunnustatud üldisest praktikast. Kõik vaidlused, mis tulenevad Veebilehe kasutamisest ja Tingimustest, on allutatud Eesti Vabariigi kohtutele.

                    li
                        p Vastutus
                        ol

                            li
                                p Kasutaja kohustub Veebilehel ja Veebilehe väliselt igal ajal teisi Kasutajaid kohtlema hea usu põhimõtetest lähtuvalt, kooskõlas heade kommete ja heade tavade ning ühiskondlikult aktsepteeritud üldiste sotsiaalsete normidega. Kasutaja kohustub Veebilehte kasutama selliselt, et Kasutaja tegevus või tegevusetus ei kahjusta teiste Kasutajate ja/või kolmandate isikute õigusi ega piira nende Veebilehe kasutamist.
                            li
                                p Helpific on teinud omalt poolt kõik võimaliku, et Veebilehel sisalduv informatsioon ja andmed oleksid täpsed ja täielikud, kuid Helpific ei garanteeri informatsiooni ja andmete õigsust ega vastuta sellise informatsiooni ja andmete kasutamisest tekkida võivate võimalike tagajärgede ega kahjude eest.  Helpific ei ole vastutav kahju eest, mis tuleneb Veebilehe kasutamisest isegi juhul, kui Helpific on Veebilehel leiduva vea, ebatäpsuse vms olemasolust teadlik.
                            li
                                p Helpificul ei lasu mingit vastutust seoses Veebilehe vahendusel aset leidvate Kasutajate kohtumiste või nende ärajäämiste, Abivajajale osutatud abi või ükskõik millise Kasutajale osutatud teenuse kvaliteedi, tasu vms ning Abivajaja abistamisega seotud tekkinud või tulevikus tekkida võivate kulutuste ja kahjude, samuti Veebilehel Kasutaja poolt avalikult edastatud kommentaaride, arvamuste vms eest. Kasutaja vastutab täielikult, iseseisvalt ning ainuisikuliselt oma otsuste, valikute, tegevuse ja tegevusetuse eest nii abipalveid edastades kui abi vastu võttes, samuti abi pakkudes ning abipakkumisi tühistades või tühistamata jätmise, teenust osutades või saades, annetust tehes või vastu võttes, ükskõik millise võimaliku tagajärje eest.
                            li
                                p Abisaaja teadvustab, et Veebilehe kaudu osutatav vabatahtlikkuse alusel osutatav abi on ühekordne, välja arvatud juhul kui Abivajaja ja Abistaja lepivad omavahel kokku teisiti.
                            li
                                p Helpific ei vastuta Veebilehe funktsioonide kasutamisega kaasnevate või abi saamise ja/või osutamisega seotud võimalike kulutuste eest. Abi saamise ja/või osutamisega seotud kulutuste hüvitamise osas võivad Abivajaja ning Abistaja teha mistahes omavahelisi kokkuleppeid, kuid Helpific ei kanna mingit vastutust sellise kokkuleppe täitmise eest.
                            li
                                p Kasutaja teadvustab, et võib kanda täielikku materiaalset vastutust tema poolt süülise käitumisega põhjustatud kahjude eest, kaasa arvatud seaduserikkumisega või ükskõik millise käesoleva Tingimuse sätte rikkumisega põhjustatud kahju eest, tekkinud kahju ulatuses.
                            li
                                p Helpific ei ole kohustatud korraldama vabatahtlikule Abistajale koolitamist abistamise osutamiseks vajalike teadmiste, oskuste ja võtete omandamiseks.

                    li
                        p Privaatsusõigus
                        ol
                            li
                                p Veebilehe kasutamisega annab Kasutaja selgesõnalise nõusoleku oma isikuandmete töötlemiseks. Helpific kogub ja töötleb isikuandmeid vaid ausal ja seaduslikul teel ning vaid ulatuses, mis on vajalik Veebilehe eesmärgipäraseks ja turvaliseks kasutamiseks lähtudes Eesti Vabariigis kehtivast isikuandmete kaitse seadusest.
                            li
                                p Veebilehe avalikus ruumis (nt Kasutajakontol nähtav avalik informatsioon ja andmed) isikuandmeid esitades annab Kasutaja endale täelikult aru, et avaldatud andmeid võivad näha, kasutada ja avaldada teised Kasutajad ning Helpific ei kanna mingit vastutust sellise tegevusega kaasnevate võimalike ohtude ja kahjude eest.
                            li
                                p Kui Veebilehel leidub linke teistele veebilehtedele, mis koguvad Kasutaja isikuandmeid, kehtivad Kasutaja isikuandmete töötlemisele konkreetse veebilehe privaatsustingimused, kui Helpific pole sätestanud teisiti. Helpific ei vastuta selle eest, kuidas nimetatud veebilehed oma privaatsustingimusi rakendavad.
                            li
                                p Helpific võib teha avalikuks ja levitada vabatahtliku Abistaja nime ja temast vabatahtliku tegevusega seoses tehtud foto- ja videomaterjale viimase nõusolekul, tagades samas isikuandmete töötlemise nõuded vastavalt seadusele.

                    li
                        p Autoriõigus
                        ol
                            li
                                p Kogu Veebilehel sisalduv informatsioon ja andmed ükskõik millisel kujul, sealhulgas ka Veebilehe kujundus ja tarkvara, kuulub Helpificule, kui ei ole sätestatud teisiti ning seda võib kasutada ainult isiklikel mitteärilistel eesmärkidel.
                            li
                                p Veebilehel sisalduva ükskõik millise informatsiooni ja andmete reprodutseerimine, levitamine ja muul viisil kolmandatele isikutele üle andmine ilma Helpificu eelneva kirjaliku loata on keelatud.
                            li
                                p Veebilehe Kasutajate kontodel olevaid linke kolmandate isikute internetilehekülgedele ei käsitleta Helpificu heakskiiduna sellistel lehekülgedel pakutavatele teenustele või toodetele. Selliste linkide kasutamine toimub Kasutaja enda riisikol ning Helpific ei vastuta selliste lehekülgede sisu, kättesaadavuse või kasutamise eest. Helpific pole kindlaks teinud sellistel lehekülgedel leiduva info tõesust, täpsust, mõistlikkust, usaldusväärsust ega põhjalikkust.

                    li
                        p Küpsised (Cookies)
                        ol
                            li
                                p Käesolev Veebileht sisaldab küpsiseid. Küpsis on tekstifail, mis salvestatakse Kasutaja arvuti kõvakettale Veebilehe poolt.
                            li
                                p On kaht tüüpi küpsiseid. Esimest tüüpi küpsised salvestavad teatud perioodiks infot Kasutaja arvuti kõvakettale. Neid kasutatakse Kasutaja informeerimiseks Veebilehel toimunud muudatustest, mis on aset leidnud pärast Kasutaja viimast külastust. Teist tüüpi küpsis – seansiküpsis (Session cookie) – salvestatakse ainult ajutiselt, Veebilehe külastamise ajaks.
                            li
                                p Helpific kasutab küpsiseid Kasutajate kohta kogutavate statistiliste andmete täiustamiseks ning Veebilehe funktsionaalsuse parandamiseks.
                            li
                                p Selleks, et Kasutaja saaks Veebilehte kasutada, peab ta olema lubanud seansiküpsiseid. Need võimaldavad Kasutajal ladusalt Veebilehe platvormi kasutada ning kaovad pärast Veebilehe kasutamise lõpetamist.
                            li
                                p Kui Kasutaja küpsiseid lubada ei taha, saab ta muuta oma brauseri turvaseadeid. Kasutajal tuleb tähele panna, et pärast seansiküpsiste keelamist ei saa Veebilehel oleva(te) rakendus(t)e funktsioone kasutada.

                    li
                        p Kasutajate õigused ja kohustused
                        ol
                            li
                                p Kasutaja on teadlik, et abi osutamise puhul vabatahtlikkuse alusel on tegemist vabatahtliku tegevusega, mille puhul ei eeldata tasu maksmist või muu rahalise hüve andmist. Abistamist ei loeta töösuhteks töölepingu seaduse mõistes ega töövõtu- või käsunduslepingu täitmiseks võlaõigusseaduse mõistes.
                            li
                                p Abistamise täpsem ja spetsiifilisem sisu, maht, ulatus (volitused), tähtaeg ja teostamise viis ning koht, lepitakse Kasutajate vahel igakordselt iga abistamise puhul eraldi kokku.
                            li
                                p Abistaja kohustub abistamisel tegutsema abistamise laadist tuleneva vajaliku hoolsusega ning osutama abi isiklikult vastavalt oma teadmistele ja võimetele Abivajaja jaoks parima kasuga.
                            li
                                p Abistaja kohustub abistamisel järgima Abivajaja poolt antavaid juhiseid. Abistaja kohustub teatama Abivajajale kõigist abistamisega seotud olulistest asjaoludest, eelkõige nendest, mis võivad ajendada Abivajajat juhist muutma või abipakkumisest keelduma.
                            li
                                p Abistaja võib abistamisel keelduda tegevustest, mis ületavad mõistlikult oodatava tegevuse määra, on ebaseaduslikud, ei sobi Abistajale kui vabatahtlikule tema ea, tervise või muude asjaolude tõttu või on ebaeetilised.
                            li
                                p Abistaja kohustub vältima olukordi, millega võib sattuda ohtu tema ja Abivajaja või teiste isikute tervis või vara.
                            li
                                p Abistajal on õigus vääramatu jõu esinemise korral keelduda kokkulepitud abi osutamisest Abivajajale, teatades sellest esimesel mõistlikul võimalusel Abivajajale. Vääramatu jõud on Abistajast ja/või Abivajajast sõltumatu asjaolu, mida pooled ei saanud mõjutada ja mõistlikkuse põhimõttest lähtudes ei saanud neilt oodata, et nad abistamise kohustuse tekkimise ajal selle asjaoluga arvestaks, seda väldiks ning takistava asjaolu või selle tagajärje ületaks.

                    li
                        p Kasutaja on tutvunud täiendavalt:
                        ol
                            li
                                p
                                    a(href='http://vabatahtlikud.ee/vabatahtlik-tegevus/vabatahtliku-tegevuse-hea-tava', target='_blank') Vabatahtliku tegevuse hea tava

                            li
                                p
                                    a(href='http://vabatahtlikud.ee/wp-content/uploads/2015/04/oigusanalyys.pdf', target='_blank') Vabatahtliku tegevuse õiguskeskkonna analüüs

        .row.spacer

        .row
            .col-xs-12.text-justify
                p * Kui Te tunnete meie Veebilehe turvalisuse või Tingimuste pärast muret, palume saata meile e-kiri aadressile
                    a(href='mailto:tugi@helpific.com')  tugi@helpific.com
                    |  ning me püüame Teie murele lahenduse leida.

        .row.spacer
